# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Mac
.DS_Store

# Envs
.env
.venv/
venv/

# Large artifacts / outputs
checkpoints/
results/
*.pth
*.pt
*.ckpt

# Data
data/
datasets/
*.zip
*.tar
*.tar.gz
*.mp4
*.avi
*.mov
